html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.upload {
    position: relative;
    display: block;
    border: 1px solid black;
    background-color: #ecedee;
    padding: 3em;
    margin: 1em auto;
    border-radius: 4px;
}

.upload:hover {
    background-color: darkturquoise;
}

.upload input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0;
}

#names li {
    margin: 1em;
}

#form-button {
    margin-top: 2em;
    margin-bottom: 2em;
}

#import-errors {
    color: red;
}

#import-success-message {
    color: green;
}

#file-upload-title {
    border-bottom: 1px solid #ccc;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}